<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alternative.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alternative.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @alternative.company %>
</p>

<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
